@font-face {
    font-family: 'Exo2.0';
    src: url(./fonts/Exo2.0-Thin.otf);
}

$default-font-color: #1698D9;
$selected-font-color: #D91667;
$out-of-stuck-color: #B3B3B3;
$additional-font-color: #666666;

%card-item {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #F2F2F2;
    position: relative;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    padding: 13px 64px 0 47px;
    width: 320px;
    margin-bottom: 10px;
    cursor: pointer;
}

%cut-corner {
    position: relative;
    content: '';
    width: 65px;
    display: block;
    height: 4px;
    top: 6px;
    left: -62px;
    transform: rotate(-45deg);
}

%weight-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 42px;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 15px;
    left: 220px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px 10px;
    line-height: 40px;
    color: white;
    margin: 0;
}

body {
    background-image: url('../public/images/Pattern.png');
    font-family: 'Trebuchet MS';
}

p {
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 36px;
    color: white;
    font-weight: normal;
    font-family: 'Exo2.0';
    margin: 0 0 30px 0;
}

.catalog {
    display: flex;
    gap: 80px;
}

.catalog-item {
    @extend %card-item;
    border: 4px solid $default-font-color;

    &::before {
        @extend %cut-corner;
        background-color: $default-font-color;
    }

    .additional-description::before {
        content: "Сказочное заморское яство";
    }
}

.selected-item {
    @extend %card-item;
    border: 4px solid $selected-font-color;

    &::before {
        @extend %cut-corner;
        background-color: $selected-font-color;
    }

    .additional-description::before {
        content: "Сказочное заморское яство";
    }

    &:hover .additional-description::before {
        content: "Котэ не одобряет?";
        color: #D91667;
    }
}

.out-of-stock-item {
    @extend %card-item;
    border: 4px solid $out-of-stuck-color;

    &::before {
        @extend %cut-corner;
        background-color: $out-of-stuck-color;
    }

    p,
    h3 {
        color: rgba(179, 179, 179, 1);
    }

    .cat-image {
        opacity: 0.5;
    }

    .additional-description::before {
        content: "Сказочное заморское яство";
    }
}

.main-description {
    font-size: 14px;
    margin-bottom: 30px;
    max-height: 32px;
}

.additional-description {
    margin-bottom: -18px;
}

.additional-description,
.main-description {
    color: $additional-font-color;
    width: max-content;
}

.food-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.highlight-food-title {
    font-size: 48px;
}

.cat-image {
    position: relative;
    right: 47px;
    top: 4px;
    z-index: -1;
    border-radius: 0 0 50px 8px;
}

// WEIGHT
.weight {
    @extend %weight-circle;
    border: 1px solid $default-font-color;
    background-color: $default-font-color;
}

.selected-weight {
    @extend %weight-circle;
    border: 1px solid $selected-font-color;
    background-color: $selected-font-color;
}

.out-of-stock-weight {
    @extend %weight-circle;
    border: 1px solid $out-of-stuck-color;
    background-color: $out-of-stuck-color;
}

.weight-count {
    position: relative;
    top: 10px;
}

.weight-measurement {
    font-size: 21px;
}

// DESCRIPTION UNDER THE CARD
.buy-food {
    color: white;
    font-size: 13px;
    text-align: center;
}

.highlights-to-buy {
    color: $default-font-color;
    border-bottom: 1px dashed $default-font-color;
    cursor: pointer;
}

//ADAPTIVE
@media (max-width: 768px) {
    .box {
        position: static;
        transform: translate(0, 0);
    }

    .catalog {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .title {
        text-align: center;
    }

    .catalog {
        flex-direction: column;
        gap: 30px;
    }
}